*{
    box-sizing: border-box; /* its a must*/
}
html,
body {
    height: 100%;
}


body{
   /* background-color: #ffee00;*/
    /*background-image: url(test.png);*/
    /*background: #cccccc url(test.png) no-repeat right top / cover;*/
   /* border: 4px solid #ff00ff;
    border-radius: 4px;*/
}

.block{
    margin: 10px 0;
    padding: 30px;
    border: 1px solid #ff1122;
    width: 1000px;
    max-width: 600px;
    height: 200px;
    max-height: 100px;
}

.title-1{
    margin-left: 20px;
}

.title-2{
        margin: 25px;
}

.title-3{
    margin: 50px 25px;
}

.title-4{
    width: 200px;
    margin: 0 auto;
}

.title-5{
    margin-top: 30px;
}

.title-6{
    padding: 50px;
}

.paragraph{
    padding: 25px 50px ;
}